[
  {
    "tables": [
      {
        "name": "output",
        "extension": "csv",
        "schema": {
          "columns": [
            {
              "name": "state",
              "data_type": "Utf8"
            },
            {
              "name": "name",
              "data_type": "Utf8"
            }
          ]
        }
      },
      {
        "name": "movies_dataset",
        "extension": "csv",
        "schema": {
          "columns": [
            {
              "name": "",
              "data_type": "Int64",
              "nullable": true
            },
            {
              "name": "IMDb-rating",
              "data_type": "Float64",
              "nullable": true
            },
            {
              "name": "appropriate_for",
              "data_type": "Utf8",
              "nullable": true
            },
            {
              "name": "director",
              "data_type": "Utf8",
              "nullable": true
            },
            {
              "name": "downloads",
              "data_type": "Utf8",
              "nullable": true
            }
          ]
        }
      },
      {
        "name": "7_mb_dataset",
        "extension": "parquet",
        "schema": {
          "columns": [
            {
              "name": "title",
              "data_type": "Utf8",
              "nullable": true
            },
            {
              "name": "score",
              "data_type": "Int64",
              "nullable": true
            },
            {
              "name": "id",
              "data_type": "Utf8",
              "nullable": true
            },
            {
              "name": "url",
              "data_type": "Utf8",
              "nullable": true
            },
            {
              "name": "comms_num",
              "data_type": "Int64",
              "nullable": true
            },
            {
              "name": "created",
              "data_type": "Float64",
              "nullable": true
            },
            {
              "name": "body",
              "data_type": "Utf8",
              "nullable": true
            },
            {
              "name": "timestamp",
              "data_type": "Utf8",
              "nullable": true
            }
          ]
        }
      }
    ]
  }
]
