.LinkDiv {
  display: flex;
  gap: 8px;
  margin-right: 70px;
}

.anchor {
  display: block;
  background-color: #9b0046;
  text-decoration: none;
  color: #fff;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
  font-weight: 1000;
  display: flex;
  justify-content: center;
}
