.text-area-div {
  width: 50%;
  display: flex;
 }
 
 #response-textarea {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  width: 90%;
  min-height: 50vw;
}